<h2><%= "#{@today.year}年#{@today.month}月分支出"%></h2>
<p><%= "#{@today.month}月分支出合計　　　#{@all_value}円" %></p>
<table>
    <tr>
        <th>日付</th>
        <th>費用項目</th>
        <th>使った項目</th>
        <th>値段</th>
        <th>備考</th>
    </tr>
    <% @posts.each do |posts| %>
        <% if posts.date.month == @today.month %>
        <tr>
            <td><%= posts.date.strftime("%m月%d日") %></td>
            <td><%= posts.category %></td>
            <td><%= posts.content %></td>
            <td><%= posts.value %></td>
            <td><%= posts.other %></td>
            <td><%= link_to("編集","post/#{posts.id}/edit")%></td>
            <td><%= link_to("削除","/post/#{posts.id}/destroy", {method: "post"}) %></td>
        </tr>
        <% end %>
    <% end %>
</table>
