<div class="post_box">
<h1 class="title">過去6か月支出一覧</h1>
<% for i in 1..6 do%>
<% @all_value = 0 %>
<% @today = Date.today %>
<% @today = @today << i %>
<dl id="acMenu">

<dt class="ac">
<h2 class="month_title"><%= "#{@today.year}年#{@today.month}月分支出"%>   <i class="fas fa-sort-down"></i></h2>
</dt>

<dd>
    <table>
        <% @posts.each do |posts| %>
            <% if posts.date.month == @today.month %>
            <tr class="daily_cashflow">
            <td><%= posts.category %><br><p><%= posts.date.strftime("%m/%d") %></p></td>
            <td><%= posts.content %></td>
            <td><%= "#{posts.value}円" %></td>
                <td class="btn"><%= link_to("編集","post/#{posts.id}/edit")%></td>
                <td class="btn"><%= link_to("削除","/post/#{posts.id}/destroy", {method: "post"}) %></td>
            </tr>
            <% @all_value = @all_value + posts.value.to_i %>
            <% end %>
        <% end %>
    </table>
    <div class="month_all">
    <% if @all_value != 0 %>
    <h3>支出合計</h3>
    <p><%= "#{@all_value}円" %></p>
    <% else %>
    <h3><%= "#{@today.month}月の支出登録ははありません" %></h3>
    <% end %>
    </div>
</dd>
</dl>
<% end %>
</div>





<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
$(function(){
$("#acMenu dt").on("click", function() {
$(this).next().slideToggle();
});
});

var arrowChange = function() {
    $(document).on('click',".ac",function() {
        $(".ac:hover .fas").toggleClass("active");
    });
    };

    arrowChange();
</script>